<ion-header class="mybg">
    <ion-toolbar color="mytheme">
      <ion-buttons slot="start">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
     <ion-title>Women Wear</ion-title>
      <!-- <ion-buttons slot="end">
        <ion-button (click)="fun.navigate('cart')">
          <ion-icon name="cart" slot="icon-only" no-margin class="white top-btn"></ion-icon>
        </ion-button>
        <ion-button (click)="side_open()">
          <ion-icon name="switch" slot="icon-only" *ngIf="segment!=data[1].title" no-margin class="white top-btn"></ion-icon>
        </ion-button>
      </ion-buttons> -->
    </ion-toolbar>
    <ion-toolbar color="mytheme" class="segmenttoolbarSection">
        <ion-segment mode="md"  (ionChange)="seg($event)" scrollable="true" id="dag" class="segSection">
          <ion-segment-button   [attr.id]="'seg_' + i" *ngFor="let item of data; let i = index;" no-margin no-padding (ionSelect)="update(i)"
            class="my-btn" [value]="item.title" [ngClass]="{'btn-active':segment == item.title}">
            <ion-text padding-horizontal class="text">{{item.title}}</ion-text>
          </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding color="light">
    <ion-slides pager="false" [options]="slideOpts" (ionSlideDidChange)="change()" (click)="preventDefault($event)" #Slides>
      <ion-slide>
          <ion-row>
              <ion-col *ngFor="let data of sponsored;" size="6">
                <ion-card class="card" no-margin (click)="open(data)">
                  <ion-badge class="badge" *ngIf="data.offer">{{data.discount}}%</ion-badge>
                  <img [src]="data.image[0]" [alt]="data.name">
                  <ion-card-content>
                    <ion-card-title>
                      <ion-row>
                        <ion-col *ngIf="data.offer" no-padding>
                          <ion-text text-left><span class="price"><span class="inline">{{data.currency}}{{data.cost_price}}</span> <strong>{{data.currency}}{{data.cost_price}}</strong></span></ion-text>
                        </ion-col>
                        <ion-col *ngIf="!data.offer" no-padding>
                          <ion-text text-left><span class="price"><strong>{{data.currency}}{{data.cost_price}}</strong></span></ion-text>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col text-left no-padding>
                          <h6 text-left class="subtitle">{{data.bought}}+ bought this</h6>
                        </ion-col>
                      </ion-row>
                    </ion-card-title>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
      </ion-slide>
      <!-- <ion-slide >
        <app-productlist [recieved_data]="product_data_2"></app-productlist>
      </ion-slide>
      <ion-slide>
        <app-productlist [recieved_data]="product_data_3"></app-productlist>
      </ion-slide>
      <ion-slide>
        <app-productlist [recieved_data]="product_data_4"></app-productlist>
      </ion-slide>
      <ion-slide>
        <app-productlist [recieved_data]="product_data_5"></app-productlist>
      </ion-slide>
      <ion-slide>
        <app-productlist [recieved_data]="sponsored"></app-productlist>
      </ion-slide>
      <ion-slide>
        <app-productlist [recieved_data]="product_data_2"></app-productlist>
      </ion-slide>
      <ion-slide>
        <app-productlist [recieved_data]="sponsored"></app-productlist>
      </ion-slide>
      <ion-slide>
        <app-productlist [recieved_data]="product_data_4"></app-productlist>
      </ion-slide>
      <ion-slide>
        <app-productlist [recieved_data]="product_data_5"></app-productlist>
      </ion-slide>
      <ion-slide>
        <app-productlist [recieved_data]="sponsored"></app-productlist>
      </ion-slide>
      <ion-slide>
        <app-productlist [recieved_data]="product_data_2"></app-productlist>
      </ion-slide>
      <ion-slide>
        <app-productlist [recieved_data]="product_data_3"></app-productlist>
      </ion-slide>
      <ion-slide>
        <app-productlist [recieved_data]="product_data_4"></app-productlist>
      </ion-slide> -->
    </ion-slides>
  </ion-content>