.head {
    min-height: 21vh !important;
}
.head-image {
    background-size: contain;
    width: 180px;
    align-self: center;
}
.input {
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(210, 210, 210);
    border-radius: 9px;
    font-size: .9em !important;
}
.white{
    color: white;
}
.title {
    font-size: 18px;
    text-align: center;
    margin: 20px;
}
.small {
    font-size: 13px;
    a{
        text-decoration: unset !important;
    }
}
.button-color {
    background-color : var(--ion-color-mytheme);
}
.logo {
    width: 1.25em !important;
}
.mybg {
    background-color: rgb(49, 177, 240) !important;
}

