<ion-content padding>
  <div >
    <ion-img src="assets/images/banner.png" ></ion-img>
    <ion-title class="title">Shopping vopping</ion-title>
  </div>
  <ion-card>
    <ion-card-header>
        <ion-text><h3 class="title">Sign Up</h3></ion-text>
    </ion-card-header>
    <ion-card-content>
        <ion-grid>
            <ion-row>
              <ion-col> 
                  <ion-item>
                    
                      
                      <ion-label position="floating"> <ion-icon name="mail-outline"></ion-icon>Email</ion-label>
                      <ion-input type="email" [(ngModel)]="email" padding-horizontal></ion-input>
                    </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                  <ion-item>
                      
                      <ion-label position="floating"><ion-icon name="lock-closed-outline"></ion-icon>Password</ion-label>
                      <ion-input type="password" [(ngModel)]="password" padding-horizontal></ion-input>
                    </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button expand="block" (click)="signin()" ><strong class="textBtn">Login</strong></ion-button>
              </ion-col>
            </ion-row>
            <div class="line"></div>
            <ion-row>
              <ion-col>
                <ion-button expand="block" fill="outline" color="primary" (click)="signUp('signup')"><strong>New? Create an Account</strong></ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
    </ion-card-content>
  </ion-card>
 
</ion-content>
