<ion-header class="mybg">
    <ion-toolbar color="mytheme">
      <ion-buttons slot="start">
          <ion-back-button color="light"></ion-back-button>
      </ion-buttons>
      <ion-title color="light">Details</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="fun.navigate('cart')">
          <ion-icon name="cart" slot="icon-only" class="white top-btn" no-margin ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-slides pager="false" [options]="slideOpts" (ionSlideDidChange)="change()" #Slides>
      <ion-slide>
        <app-product (notify)="onReviewClick($event)" [product]="product" [slider]="slider" class="slide"></app-product>
      </ion-slide>
</ion-slides>
  </ion-content>
  <ion-footer class="footer" align-items-center *ngIf="segment == 'Overview'">
    <ion-row align-items-center>
      <ion-col padding>
        <ion-text *ngIf="product.offer">
          <h6 no-margin class="cut">{{product.currency}}{{product.cost_price}}</h6>
        </ion-text>
        <ion-text *ngIf="product.offer">
          <h3 no-margin class="foot-highlight">{{product.currency}}{{product.cost_price}}</h3>
        </ion-text>
        <ion-text *ngIf="!product.offer">
          <h3 no-margin class="foot-highlight">{{product.currency}}{{product.cost_price}}</h3>
        </ion-text>
      </ion-col>
      <ion-col size="4">
        <ion-button (click)="goToCart()" float-right class="white foot-btn" color="orange" no-margin expand="block"><strong>Buy</strong></ion-button>
      </ion-col>
    </ion-row>
  </ion-footer>