<!-- /**
 * Shoppr - E-commerce app starter Ionic 4(https://www.enappd.com)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source .
 */ -->

 <ion-app>
      <ion-menu contentId="main-content" type="push">
        <ion-content  id="main-content">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item detail="false" lines="none" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon" class="sidemenu-icon"></ion-icon>
              <ion-label>
                {{p.title}}
                <ion-badge *ngIf="p.title == 'Shopping Cart'" color="danger" class="label-subtext">6</ion-badge>
                
                <span *ngIf="p.title == 'Wish Cash'" class="label-subtext">: <span class="mycolor">{{dataService.wish_cash.currency}}{{fun.calculate(dataService.wish_cash.amount,
                    0)}}</span></span>
                <span *ngIf="p.title == 'Rewards'" class="label-subtext">: <span class="mycolor">{{dataService.rewards.points}} Points</span></span>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <div class="line"></div>
          <ion-menu-toggle  auto-hide="false" *ngFor="let p of appPages1">
            <ion-item detail="false" lines="none" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon" class="sidemenu-icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-content>
      </ion-menu>
      <ion-router-outlet main></ion-router-outlet>  
  </ion-app>