

<ion-content padding>
    <div >
        <ion-img src="assets/images/banner.png" ></ion-img>
        <ion-title class="title">Shopping vopping</ion-title>
      </div>
  

  <ion-card>
    <ion-card-header>
        <ion-text><h3 class="title">Sign Up</h3></ion-text>
    </ion-card-header>
    <ion-card-content>
        <ion-grid>
            <ion-row>
              <ion-col>
                  <ion-item>
                      <ion-label position="floating">First Name</ion-label>
                      <ion-input type="text" [(ngModel)]="first_name" padding-horizontal></ion-input>
                    </ion-item>
              </ion-col>
              <ion-col>
                  <ion-item>
                      <ion-label position="floating">Last Name</ion-label>
                      <ion-input type="text" [(ngModel)]="last_name" padding-horizontal></ion-input>
                    </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                  <ion-item>
                      <ion-label position="floating">Email</ion-label>
                      <ion-input type="email" [(ngModel)]="email" padding-horizontal></ion-input>
                    </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                  <ion-item>
                      <ion-label position="floating">Password</ion-label>
                      <ion-input type="password" [(ngModel)]="password" padding-horizontal></ion-input>
                    </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button expand="block" color="primary" (click)="signup()" color="primary"><strong class="textBtn">Create an Account</strong></ion-button>
              </ion-col>
            </ion-row>
            <div class="line"></div>
          </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
