<ion-header class="mybg">
    <ion-toolbar >
        <ion-buttons slot="start">
            <ion-menu-button color="primary"></ion-menu-button>
          </ion-buttons>
          <ion-title><h3>Shopcart</h3></ion-title>
      </ion-toolbar>
     
</ion-header>
<ion-content>
  <div class="slider">
      <ion-slides pager="true" [options]="slideOpts">
          <ion-slide>
           <ion-img src="assets/images/banner.png"></ion-img>
          </ion-slide>
          <ion-slide>
              <ion-img src="assets/images/mobile.png"></ion-img>
          </ion-slide>
          <ion-slide>
              <ion-img src="assets/images/electronic.png"></ion-img>
          </ion-slide>
        </ion-slides>
  </div>
  <div class="">
    <ion-row>
      <ion-col size="6" (click)="listingPage()">
        <div>
            <ion-img src="assets/images/kids1.png"></ion-img>
        </div>
      </ion-col>
      <ion-col size="6" >
        <ion-row (click)="listingPage()">
            <ion-img src="assets/images/women.jpg"></ion-img>
        </ion-row>
        <ion-row (click)="listingPage()">
            <ion-img src="assets/images/men.png"></ion-img>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
    
</ion-content>